body, html{
	overflow: hidden;
}

#toolMenuContainer {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 100px;
}

#toolMenu{
	float: left;
	border-radius: 30px;
	width: 75%;
}

#hideToolMenu{
	position: absolute;
	float: right;
	width: 25%;
	top: 15%;
	right: 0;
}

#chatWindowContainer{
	position: absolute;
	right:10px;
	bottom:5px;
	width: 470px;
	height: 288px;
}

#hideChatWindowContainer{
	float:clear;
	width: 100%;
	height: 24px;
}

#hideChatWindow{
	float: right;
	height: 100%;
	width: 20%;
	padding: 3px;
	margin: 0;
}

#chatUsers{
	border-radius: 0px;
	float: left;
	width: 15%;
	height: 240px;
	overflow: auto;
	
	margin: 0;
	padding: 0;
}

#chatBox{
	border-radius: 0px;
	float: right;
	width: 85%;
	height:240px;
	overflow: auto;
	
	margin: 0;
}

#messageInput{
	float: clear;
	width: 100%;
	height:24px;
}

#messages {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	margin-bottom: 4px; 
	word-wrap: break-word;
}

#otherMessage { 
	border-radius: 5px;
	background: #d3d3d3; 
	margin-right: 20px;
}

#myMessage{
	margin-left: 20px;
	border-radius: 5px;
	background: #e3e3e3;
}

#users{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#users li{
	margin: 0;
	padding-left: 2px;
	margin-bottom: 2px;
	word-wrap: break-word;

	font-size: 100%;
}

#drawing{
	position: absolute;
	top: 0;
}